@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes levelup {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(6);
  }
}

@keyframes levelup {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(6);
  }
}

* { box-sizing: border-box; }

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 30;

  &.hide { display: none!important; }
  
  .loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 50%;
    border: 10px solid white;
    border-top-color: #7db9e8;
    -webkit-animation: spin 1s infinite; /* Safari 4+ */
    -moz-animation:    spin 1s infinite; /* Fx 5+ */
    -o-animation:      spin 1s infinite; /* Opera 12+ */
    animation:         spin 1s infinite; /* IE 10+, Fx 29+ */
  }
}

.boot-scene {
  transform: scale(1);
  transition: all .6s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  &.hide {
    transform: scale(0);
  }
}

.game-scene {
  transform: scale(0);
  transition: all .6s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.lost:before {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }

  &:before {
    content: '';
    position: fixed;
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    background: rgba(255,0,0,.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0, -100%);
    z-index: 1;
  }
  
  &.show {
    transition-delay: .3s;
    transform: scale(1);
  }
}

.boot-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
  padding: 10px 30px 30px;
  background: rgba(0,0,0,.7);
  border-radius: 10px;

  img {
    max-width: 80px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }

  @media(max-width: "768px") {
    width: 80%;
    padding: 20px 20px 40px;
  }

  @media(max-width: "400px") {
    width: 90%;
    padding: 8px 10px 20px;
  }
}

.lost-title {
  color: #fff;
  margin-bottom: 0;
  text-align: center;

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
    margin: 0;
  }
}

.losing-scene {
  position: fixed;
  top: -1000px;
  left: 50%;
  width: 300px;
  height: 460px;
  margin-left: -150px;
  background: #fff;
  border: 2px solid #000;
  box-shadow: 0px 0px 70px 10px #000;
  text-align: center;
  transition: all .5s ease-in-out;
  padding: 20px;
  z-index: 2;

  &.show {
    top: 50%;
    margin-top: -230px;
  }
}

.final-score {
  font-weight: 700;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.logo-title {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  margin: 0 auto 20px;
  
  + p {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
  }

  &.small {
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;

    @media (max-width: "768px") {
      font-size: 14px;
    }
  }

  @media (max-width: "768px") {
    font-size: 22px;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  background: #16d816;
  color: #fff;
  font-size: 30px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0 8px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #fff;
  outline: 0 none;
  text-indent: 6px;
  display: block;
  
  i { display: block; }
}

.leaderboard-button,
.mute-button {
  display: block;
}

.leaderboard-button,
.mute-button,
.backtoboot {
  background: #f7931e;
  color: #fff;
  font-size: 24px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 8px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #fff;
  outline: 0 none;

  i { display: block; }
}

.backtoboot {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.mute-button {
  &.mute-volume {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 200px;
      transform: translate(-50%, -50%) rotate(45deg);
      background: #fff;
      left: 50%;
      top: 50%;
    }
  }
}

.play-again,
.send-score,
.back-button {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  border: 4px solid #163770;
  transition: all .2s ease-in-out;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
  appearance: none;
  position: relative;
  overflow: hidden;

  &:hover,
  &:focus {
    &:before {
      left: 130%;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 200px;
    top: 50%;
    left: -160px;
    margin-top: -100px;
    background: rgba(255, 255, 255, .5);
    transform: rotate(20deg);
    transition: all .25s ease-in-out;
  }
}

.mb-20 { margin-bottom: 20px; }

.countdown-span {
  position: fixed;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  font-size: 40px;
  width: 100px;
  height: 100px;
  text-align: center;
  background: #1e9c07;
  font-weight: 700;
  line-height: 100px;
  box-shadow: 0px 0px 80px 40px white;
  border-radius: 20px;
  color: white;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.leaderboard-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .8);
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
  font-family: 'Open sans', serif;
  z-index: 2;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.leaderboard-popup {
  position: absolute;
  top: -1000px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: #fff;
  font-size: 15px;
  padding: 106px 40px 36px;
  transition: all .5s ease-in-out;
  text-align: left;
  z-index: 2;

  &.show {
    top: 50%;
    transform: translate(0, -50%);
  }

  @media(max-width: "768px") {
    width: 300px;
    margin-left: -150px;
    padding-top: 56px;
    padding-bottom: 20px;

    &:before,
    &:after {
      width: 36px;
      height: 30px;
      margin-top: -30px;
    }

    &:before { margin-left: -20px; }

    &:after { margin-right: -20px; }
  }
}

.leaderboard-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 500px;
  overflow-y: auto;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid #b7b7b7;

    &:last-child { border-bottom: 0 none; }

    span:first-child { padding-right: 6px; }

    span:nth-child(2) { flex-grow: 1; }

    span:first-child,
    span:last-child { font-weight: 700; }

    span:last-child {
      font-family: 'Luckiest Guy', sans-serif;
    }
  }
}

.close-leaderboard-popup {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  text-decoration: underline;
}

[type="text"] {
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  background: #efefef;
}

.w-100 { width: 100%; }

.top-15 {
  font-size: 20px;
  position: absolute;
  left: 40px;
  right: 40px;
  top: 6px;
  padding-top: 16px;
  margin: 0;
  text-align: center;
  color: #fff;

  @media (max-width: "768px") {
    font-size: 15px;
    padding-top: 6px;

    &:before {
      width: 200px;
      height: 50px;
    }
  }
}

footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 30px;

  @media (max-width: "768px") {
    font-size: 20px;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }

  i {
    color: #fff;
  }
}

.level-up {
  font-size: 24px;
  font-weight: 900;
  transition: all .2s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
  color: #02c502;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  text-shadow: 1px 1px 1px #000;

  &.show {
    -webkit-animation: levelup 1.3s;
            animation: levelup 1.3s;
  }
}

.contact-me {
  border-radius: 6px;
  background: #fff;
  color: #000;
  padding: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 6px;
}

.share-links {
  color: #fff;
  margin-top: 8px;
  
  a {
    color: #fff;
    text-decoration: none;
  }
}